/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: navajowhite;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #CB9D06;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #a47905;
}

main {
    padding: 20px;
}

footer {
    background-color: #CB9D06;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Styles for Contact section */
#contact {
    margin-top: 30px;
}

#contact h2 {
    font-size: 32px;
    color: #333;
}

#contact p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links li a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #CB9D06;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-links li a:hover {
    background-color: #a47905;
}

/* Styles for social link icons */
.social-links li a i {
    margin-right: 10px; /* Add spacing between icon and text */
}
