/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #CB9D06;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #a47905;
}

main {
    padding: 20px;
}

footer {
    background-color: #CB9D06;
    padding: 20px;
    text-align: center;
    color: white;
}

/* Styles for project descriptions */
.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 24px;
    color: #333;
}

.project p {
    font-size: 16px;
    color: #666;
}

/* Styles for Python Projects section */
#python-projects {
    margin-top: 30px;
}

#python-projects h2 {
    font-size: 32px;
    color: #333;
}
